#conteneur{
 display: grid;   
 grid-template-columns: 1fr 1fr 1fr;
 margin: 100px;
 height: 100px;
}
#conteneur div,
#conteneur1 div,
#conteneur2 div{
    padding-top: 6px;
    text-align:center;
    border: black solid 1px;
}
#conteneur div:nth-child(odd),
#conteneur1 div:nth-child(odd),
#conteneur2 div:nth-child(odd){
    background-color: palevioletred;
}
#conteneur div:nth-child(even),
#conteneur1 div:nth-child(even),
#conteneur2 div:nth-child(even){
    background-color: aquamarine;
}
#conteneur1{
    display: grid;   
    grid-template-columns: 1fr 2fr 3fr;
    margin: 100px;
    height: 100px;
}
#conteneur2{
    display: grid;   
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr;
    margin: 100px;
    height: 125px;
    grid-gap: 3px;
}